@{
    ViewBag.Title = "Politica-privacidade";
    Layout = "~/Views/Shared/_Layout-Others-Home-Politica.cshtml";
}

<div id="cabeçalho_id_pag">
    <h1>Politica de privacidade</h1>
</div>
<br/>
<div id="corpo_pagina_politica">
    @*<p>O <b>Cliente & Mercado</b> teve seu início em Dezembro de 2014 quando seu fundador sentiu a necessidade de criar uma ferramenta de busca direcionada a todo o tipo de empresa, independente do porte, para a cotação de produtos ou serviços pelo melhor preço na internet de forma gratuita, recurso antes só disponível para empresas de grande porte.</p>
    <p>Com o objetivo de oferecer recursos que facilitem a vida das empresas e consumidores em geral, trabalhamos árduamente desenvolvendo uma tecnologia para ser usada como ferramenta que permita a busca de informações sobre o que é ofertado no mercado, facilitando encontrar o que se procura pelo melhor preço e melhor custo benefício.</p>
    <div id="topico1_quem_somos"><h2>O que é o <b>Cliente & Mercado</b>?</h2></div>
    <p>O <b>Cliente & Mercado</b> é uma ferramenta de pesquisa de produtos de uso gratuito, que ajuda o a empresa consumidora a poupar tempo e dinheiro buscando o melhor preço pela internet. O <b>Cliente & Mercado</b> não é uma loja, não vende nenhum produto, e não deve ser considerado uma ferramenta de busca como as que já existem no mercado. Oferecemos os meios dos usuários localizarem mais rapidamente aquilo que necessitam e interagirem com seus fornecedores por meio da internet.</p>
    <p>Nossa equipe está empenhada do desenvolvimento de novas ferramentas que facilitem a vida do usuário na internet e também na melhoria contínua de nossos serviços já disponíveis.</p>
    <div id="topico2_quem_somos"><h2>Como funciona?</h2></div>
    <p>As empresas e orgãos públicos acessam esta poderosa ferramenta e montam a lista de itens que desejam cotar preço no mercado. O Sistema fornece uma lista de possíveis fornecedores na região, estado ou país e o usuário escolhe com quem deseja cotar e em seguida as cotações são recebidas e respondidas pelos fornecedor sem a necessidade de infindáveis telefonemas e contatos diversos via e-mail ou fax.</p>
    <p>Respondida a cotação, o sistema possui ferramentas que auxiliam o interessado em comprar a tomar suas decisões de compra, baseadas nas informações do tipo custo,benefício e também pela classificação do fornecedor no sistema.</p>*@
    
    <p><span id="texto_sub_titulo"><b>Informações do Usuário</b></span></p>
    <p>Para que possamos oferecer um site melhor e mais direcionado às suas preferências, processar eventuais pedidos e reclamações informá-lo sobre alterações relevantes em nossos serviços ou relacionadas às suas buscas, compreender suas preferências nas escolhas efetuadas por meio do site, sugerir promoções de acordo com seus critérios, de forma a tornar sua busca mais próxima aos seus interesses, é importante contarmos com suas informações, por isso, leia atentamente esta política e nossos Termos de Uso.</p>

    <p>Sua privacidade é nossa preocupação. Temos o compromisso de preservá-la.</p>

    <p>Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias, ou seja, suas informações estarão seguras conosco e não serão transmitidas a terceiros fora do grupo <b>Cliente & Mercado</b>, exceto nas condições previstas pela presente política de privacidade, precisamente no tocante à verificação de sua identidade para fins de segurança, de forma a prevenir ou detectar crimes em desfavor do usuário ou do próprio <b>Cliente & Mercado</b>.</p>

    <p>Suas informações cadastrais ficam disponibilizadas através de duas maneiras: quando você efetua o seu cadastro, registro e adquire produtos por meio de nosso site, bem como através de cookies, arquivos que podem ser livremente alterados pelo usuário na configuração de seu navegador e que estão relacionados às suas visitas em nossos sites.</p>

    <p>Suas informações pessoais e seus dados sensíveis não serão transferidos a terceiros, ainda que dados objetivos e anônimos possam ser considerados para os fins descritos acima.</p>

    <p><span id="texto_sub_titulo"><b>Cadastro</b></span></p>

    <p>O <b>Cliente & Mercado</b> nunca envia e-mails solicitando confirmação de dados/cadastro ou com anexos executáveis (extensão exe, com, scr, bat) e links para download.</p>

    <p>Para usufruir dos benefícios adicionais do site e receber o email com Ofertas Exclusivas e informações sobre nossos serviços, você precisa se cadastrar no <b>Cliente & Mercado</b>. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Qualquer comunicação enviada para seu email será através do boletim periódico do <b>Cliente & Mercado</b>. Seu email não será divulgado.</p>
    <p>Caso você não queira mais receber comunicados diretos do <b>Cliente & Mercado</b>, poderá clicar na opção "opt-out", contida em todos os comunicados enviados pelo <b>Cliente & Mercado</b>.</p>

    <p>Pode ser que a exclusão e consequente cancelamento não ocorram de maneira imediata, devido à manutenção e/ou atualização dos servidores ativos. Contudo, caso o encerramento demore mais que o esperado para se efetivar, o usuário poderá entrar em contato diretamente com o <b>Cliente & Mercado</b> informando sua situação através do e-mail xxx, ou através de notificação enviada para o endereço indicado no final da presente Política ou ainda através do telefone xxx.</p>

    <p><span id="texto_sub_titulo"><b>Cookies</b></span></p>

    <p>Os Cookies são informações enviadas pelo servidor do <b>Cliente & Mercado</b> ao computador do usuário, que auxilia na identificação de seu IP e na facilidade e eficiência de sua navegação, simplificando o login de usuários cadastrados, auxiliando na garantia de segurança e autenticidade dos acessos, bem como para controle interno de audiência e de preferências. A aceitação ou não dos cookies pode ser livremente alterada na configuração de seu navegador. No entanto, quando o usuário desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site, como, por exemplo, tentativas de hackear o serviço, o <b>Cliente & Mercado</b>, para proteção e segurança do site e dos demais usuários, pode adotar medidas para identificar o usuário e coibir tais condutas ilícitas.</p>

    <p>O menu de ajuda na barra de seu navegador poderá auxiliá-lo a evitar a inserção de novos cookies ou desativá-los. No entanto, caso não saiba como alterar suas configurações de privacidade, entre em contato conosco pelo endereço informado ao final deste e poderemos auxiliá-lo.</p>

    <p><span id="texto_sub_titulo"><b>Compartilhamento de informações</b></span></p>

    <p>Como já informamos, para fins de segurança, as informações poderão ser compartilhadas quando houver requerimento de autoridades judiciais ou governamentais competentes para fins de investigações pessoais conduzidas por elas, mesmo que não exista uma ordem judicial, por exemplo (e sem limitar-se a) quando tratar-se de investigação de caráter penal ou a violação de direitos do autor, ressalvadas as hipóteses de sigilo de informações determinadas por leis em vigor, ou ainda, comunicar informações quando haja motivos suficientes para considerar que a atividade de um usuário seja suspeita de tentar ou de cometer um delito ou tentar prejudicar outras pessoas. Este direito será utilizado pelo <b>Cliente & Mercado</b> a sua inteira discrição quando o considere apropriado ou necessário para manter a integridade e a segurança da comunidade e de seus usuários.</p>

    <p>Atenção: O <b>Cliente & Mercado</b> possui links de acesso para outros sites e que não estão cobertos por esta política. Assim, verifique a política de privacidade desses sites, tendo em vista que suas informações serão administradas de acordo com a política de cada um deles e que podem diferenciar das nossas.</p>

    <p><span id="texto_sub_titulo"><b>Segurança das Informações</b></span></p>

    <p>Todos os dados pessoais informados ao nosso site são armazenados em um banco de dados reservado e com acesso restrito à pessoas habilitadas, que são obrigadas, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente.</p>

    <p><span id="texto_sub_titulo"><b>Dúvidas e correção de dados</b></span></p>

    <p><b>Cliente & Mercado</b> é uma empresa de propriedade da NOVA MÍDIA, sociedade empresária limitada, com sede na cidade de Vitória, Estado do Espírito Santo, na Avenida Vitória, 000, 00º Andar, Centro, CEP 29.041-370, inscrita no CNPJ/MF sob o nº 86.570.306/0001-07.</p>
    <p>Em caso de dúvidas o usuário poderá enviar uma mensagem através do link: http://www.www.clientemercado.com.br/Contato </p>

    <p>Gostaríamos de ouvir sua opinião sobre nossos serviços e em algumas oportunidades poderemos entrar em contato. No entanto, como já afirmamos, caso não tenha interesse em receber nosso contato, basta nos informar.</p>

    <p>Caso tenha interesse em verificar a correção de seus dados, solicite as correções necessários no link de contato que passamos acima.</p>
    <p>Esta política substitui todas as versões anteriores.</p>
    <p>Reservamo-nos o direito de alterar a política a qualquer momento.</p>
    <p>Assegurar a sua privacidade é mais um compromisso do <b>Cliente & Mercado</b> com você!</p>

</div>
