@{
ViewBag.Title = "ClienteMercado";
    Layout = "~/Views/Shared/_Layout-Others-Home.cshtml";
}


<div id="cabeçalho_id_pag">
    <h1>Quem Somos</h1>
</div>
<br/>
<div id="corpo_pagina">
    <p>O Cliente & Mercado teve seu início em Dezembro de 2015 quando seu fundador sentiu a necessidade de criar uma ferramenta de busca direcionada a todo o tipo de empresa, independente do porte, para a cotação de produtos ou serviços pelo melhor preço na internet de forma gratuita, recurso antes só disponível para empresas de grande porte.</p>
    <p>Com o objetivo de oferecer recursos que facilitem a vida das empresas e consumidores em geral, trabalhamos árduamente desenvolvendo uma tecnologia para ser usada como ferramenta que permita a busca de informações sobre o que é ofertado no mercado, facilitando encontrar o que se procura pelo melhor preço e melhor custo benefício.</p>
    <div id="topico1_quem_somos"><h2>O que é o Cliente & Mercado?</h2></div>
    <p>O Cliente & Mercado é uma ferramenta de pesquisa de produtos de uso gratuito, que ajuda o a empresa consumidora a poupar tempo e dinheiro buscando o melhor preço pela internet. O Cliente & Mercado não é uma loja, não vende nenhum produto, e não deve ser considerado uma ferramenta de busca como as que já existem no mercado. Oferecemos os meios dos usuários localizarem mais rapidamente aquilo que necessitam e interagirem com seus fornecedores por meio da internet.</p>
    <p>Nossa equipe está empenhada do desenvolvimento de novas ferramentas que facilitem a vida do usuário na internet e também na melhoria contínua de nossos serviços já disponíveis.</p>
    <div id="topico2_quem_somos"><h2>Como funciona?</h2></div>
    <p>As empresas e orgãos públicos acessam esta poderosa ferramenta e montam a lista de itens que desejam cotar preço no mercado. O Sistema fornece uma lista de possíveis fornecedores na região, estado ou país e o usuário escolhe com quem deseja cotar e em seguida as cotações são recebidas e respondidas pelos fornecedor sem a necessidade de infindáveis telefonemas e contatos diversos via e-mail ou fax.</p>
    <p>Respondida a cotação, o sistema possui ferramentas que auxiliam o interessado em comprar a tomar suas decisões de compra, baseadas nas informações do tipo custo,benefício e também pela classificação do fornecedor no sistema.</p>
</div>

