@{
ViewBag.Title = "ClienteMercado";
    Layout = "~/Views/Shared/_Layout-Others-Home-Politica.cshtml";
}

<div id="cabeçalho_id_pag">
    <h1>Termo de Uso</h1>
</div>
<br/>
<div id="corpo_pagina_termos">
    <p><b>CLIENTE & MERCADO</b>, inscrita no CNPJ/MF sob nº 86.570.306/0001-07, com sede na Avenida Vitória, 000, 00º Andar, Centro, CEP 29.041-370, Vitória-ES, única e exclusiva proprietária dos domínios que utilizam a marca CLIENTE & MERCADO, como: "http://www.clientemercado.com.br", "http://www.clientemercado.com" e doravante denominado unicamente de <b>SITE CLIENTE & MERCADO</b>, estabelece o presente instrumento, denominado <b>TERMO DE USO</b> para o <b>USUÁRIO</b> do <b>SITE CLIENTE & MERCADO</b> conforme as condições abaixo descritas:</p>

    <p><span id="texto_italico">Por este <b>TERMO DE USO</b>, o <b>USUÁRIO</b> do <b>CLIENTE & MERCADO</b> fica ciente e concorda que ao utilizar o sistema do <b>CLIENTE & MERCADO</b>, automaticamente aderirá e concordará em se submeter integralmente às condições do presente <b>TERMO DE USO</b> e qualquer de suas alterações futuras.</span></p>
    <p>As palavras grafadas neste instrumento com letras maiúsculas terão o significado que a elas é atribuído de acordo com o estabelecido abaixo:</p>
    <p><b>•<b>USUÁRIO(S)</b>:</b> são as pessoas físicas ou jurídicas que acessam e usam os serviços providos pelo <b>CLIENTE & MERCADO</b>.</p>
    <p><b>•SITE:</b> conjunto de páginas ou lugar no ambiente da Internet ocupado com <b>CONTEUDO</b> de uma empresa ou de uma pessoa.</p>
    <p><b>•SITE CLIENTE & MERCADO:</b> é o <b>SITE</b> de internet registrado no Núcleo de Informação e Coordenação do Ponto BR (www.registro.br) sob o domínio clientemercado.com.br, com todos os recursos e ferramentas relacionadas a este, bem como outros <b><b>SITES</b></b> e domínios da marca <b>CLIENTE & MERCADO</b> registrados nos respectivos órgãos responsáveis pela classificação e registro do domínio.</p> 
    <p><b>•<b>ANUNCIANTE(S)</b>:</b> são as pessoas físicas ou jurídicas que veiculam seus anúncios ou publicidade no <b>CLIENTE & MERCADO</b>.
    <p><b>•COOKIE(S):</b> pequeno arquivo de texto armazenado nos navegadores. Este recurso possibilita a identificação de <b>USUÁRIOS</b> e o direcionamento de documentos de acordo com parâmetros pré-estabelecidos.</p> 
    <p><b>•<b>LINKS</b>(S):</b> significa um acesso eletrônico, seja por meio de imagens ou palavras, que permite a conexão a outras telas de um mesmo <b>SITE</b>, ou, ainda, de outros <b><b>SITES</b></b>.</p>  
    <p><b>•<b>SPAM</b>:</b> são e-mails enviados a um grupo de <b>USUÁRIOS</b> sem a sua devida permissão.</p>  
    <p><b>•<b>CONTEUDO</b>:</b> inclui texto, programas, scripts, gráficos, fotos, sons, imagens, músicas, vídeos, combinações audiovisuais, animações, recursos interativos e outros materiais que o(s) <b>USUÁRIO(S)</b> e o(s) <b><b>ANUNCIANTE(S)</b></b>, têm acesso ou submetem a um <b>SITE</b>.</p>  

    <p>Este documento informa as responsabilidades, deveres e obrigações que todo <b>USUÁRIO(S)</b> assume ao acessar e/ou utilizar o <b>SITE CLIENTE & MERCADO</b> e seus serviços relacionados como softwares, complementos, plug-ins, barras e acessórios a não ser quando regido por um <b><b>TERMO DE USO</b></b> específico.</p>

    <p><b>SITE</b> As funcionalidades adicionais do <b>CLIENTE & MERCADO</b>, possíveis graças à tecnologia eletrônica, não desvirtuam o fato de o <b>SITE CLIENTE & MERCADO</b> adicionar em seu meio eletrônico informações de <b>ANUNCIANTES</b> pelas quais o <b>SITE CLIENTE & MERCADO</b>, NÃO se responsabiliza (assim como anúncios classificados em jornais, rádio, ou televisão).</p>

    <p>Desse modo, o <b>USUÁRIO(S)</b> deve(m) checar a veracidade das informações obtidas pelo meio eletrônico do <b>SITE CLIENTE & MERCADO</b> e tomar todas as medidas necessárias para se proteger de danos, fraudes ou estelionatos, inclusive "on-line" e "off-line".</p> 

    <p>O <b>USUÁRIO(S)</b> deve(m) ler com atenção os termos abaixo antes de acessar ou usar o <b>SITE CLIENTE & MERCADO</b>, pois, o acesso ou uso deste implica em concordância integral com tais termos universais.</p> 

    <p>O <b>SITE CLIENTE & MERCADO</b> e os demais participantes do <b>SITE</b> somente fornecerão ao <b>USUÁRIO(S)</b> informações e serviços mediante expressa concordância aos <b>TERMOS DE USO</b>, condições e informações aqui contidas, assim como aos demais documentos incorporados ao mesmo por referência. O uso do <b>SITE CLIENTE & MERCADO</b> significa a total concordância com tais termos, condições e informações.</p> 

    <p>O <b>CLIENTE & MERCADO</b> captura e divulga anúncios/ofertas advindos de diversos <b><b>ANUNCIANTE(S)</b></b>, logo, não atua como prestador de serviços de consultoria ou ainda intermediário ou participante em nenhum negócio jurídico entre o <b>USUÁRIO(S)</b> e o(s) <b><b>ANUNCIANTE(S)</b></b>.</p> 

    <p>O <b>CLIENTE & MERCADO</b> oferece em seu <b>SITE</b> um mecanismo de busca personalizada de produtos e serviços anunciados e oferecidos através da Internet, a fim de selecionar os <b><b>SITES</b> e ANUNCIANTES</b> que contém os produtos e/ou serviços previamente especificado pelo <b>USUÁRIO(S)</b> como sendo produtos e/ou serviços de seu interesse a critério de comparação gratuita de condições de venda para seus <b>USUÁRIO(S)</b>.</p> 

    <p>Assim, o <b>SITE CLIENTE & MERCADO</b> não assume qualquer responsabilidade que advenha das relações existentes entre o <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b>, sejam elas diretas ou indiretas, e/ou também;</p> 

    <p><b>A.</b> Pelo <b>CONTEUDO</b> e funcionamento dos <b>SITES</b> das lojas "on-line" <b>ANUNCIANTE(S)</b>;</p>

    <p><b>B.</b> Por negociações efetuadas entre <b>USUÁRIO(S)</b> e <b>ANUNCIANTE(S)</b>;</p>

    <p><b>C.</b> Pela entrega de produtos e serviços <b>ANUNCIANTE(S)</b>, sendo tais negociações por conta e risco do <b>USUÁRIO(S)</b>, que deve cercar-se de todos os cuidados necessários;</p>

    <p><b>D.</b> Por danos e/ou prejuízos resultantes das negociações entre <b>USUÁRIO</b> e <b>ANUNCIANTE(S)</b> cadastrados no <b>SITE CLIENTE & MERCADO</b>;</p>

    <p><b>E.</b> Pela origem, qualidade e quantidade dos produtos e serviços do <b>ANUNCIANTE(S)</b> cadastrados no <b>SITE CLIENTE & MERCADO</b>, sendo delas total e exclusiva responsabilidade;</p>

    <p><b>F.</b> Por transações efetuadas "on-line" na Internet, que são de inteira e exclusiva responsabilidade de quem disponibilizar os respectivos produtos ou serviços.</p> 

    <p>Portanto, o <b>SITE CLIENTE & MERCADO</b> não é responsável por qualquer ação ou omissão do <b>USUÁRIO(S)</b> baseadas nas informações, anúncios, vídeos, fotos ou outros materiais veiculados pelo <b>CLIENTE & MERCADO</b>. Adicionalmente, o <b>SITE CLIENTE & MERCADO</b> envidará seus melhores esforços para manter o SITE sempre atualizado, completo e preciso, mas não se responsabilizará por erro, fraude, inexatidão, imprecisão ou divergência nos dados, vídeos, fotos ou outros materiais relacionados a anúncios ou à inexatidão das informações contidas e apresentadas no <b>SITE CLIENTE & MERCADO</b>.</p> 

    <p>Eventuais erros no funcionamento do <b>SITE CLIENTE & MERCADO</b> serão corrigidos durante o período que for necessário para manutenção. O <b>SITE CLIENTE & MERCADO</b> não se responsabiliza por danos decorrentes da não disponibilidade ou erro de funcionamento do <b>SITE CLIENTE & MERCADO</b>.</p> 

    <p>O <b>SITE CLIENTE & MERCADO</b>, seus funcionários, agentes, colaboradores, representantes e procuradores, devem ser eximidos de toda e qualquer responsabilidade decorrente de qualquer tipo de reclamação ou ação legal contra um ou mais <b>ANUNCIANTE(S)</b>, sejam elas promovidas por um ou mais <b>USUÁRIO(S)</b>, ou inclusive por algum terceiro.</p> 

    <p>Também não serão de responsabilidade do <b>SITE CLIENTE & MERCADO</b> as obrigações tributária que recaiam nas atividades entre <b>USUÁRIO(S)</b> e <b>ANUNCIANTE(S)</b> no <b>SITE CLIENTE & MERCADO</b>. Assim, ao adquirir algum bem ou serviço, o <b>USUÁRIO(S)</b> consumidor deverá exigir documento fiscal do <b>ANUNCIANTE(S)</b>, a menos que este esteja legalmente dispensado de fornecê-la.</p> 

    <p>Toda transação realizada pela Internet deve ocorrer com toda cautela e bom senso redobrados. Logo, o <b>USUÁRIO(S)</b> deverá avaliar os riscos das negociações, levando em consideração que pode, eventualmente, lidar com pessoas valendo-se de falsas identidades ou ainda com menores de idade.</p>

    <p>O <b>CLIENTE & MERCADO</b> sugere ao <b>USUÁRIO(S)</b> que:</p>

    <p><b>A.</b> Verifique com toda cautela a documentação e/ou características de qualquer dos produtos e/ou serviços ofertados antes da conclusão de qualquer negócio, concordando que ao negociar com o(s) <b>ANUNCIANTE(S)</b> dos produtos e/ou serviços ofertados o fará por sua única conta e risco;</p>

    <p><b>B.</b> Seja cuidadoso com os dados de sua identificação individual sempre que acessar a Internet, informando-os apenas em operações em que existam proteção de dados;</p>

    <p><b>C.</b> Tome quaisquer outras medidas necessárias para se proteger de danos, inclusive fraudes ou estelionato "on-line";</p>

    <p><b>D.</b> Cumpra rigorosamente todas as determinações deste <b>TERMO DE USO</b>.</p>

    <p>O <b>USUÁRIO(S)</b> através deste <b>TERMO DE USO</b> aceita ser identificado pelo sistema do <b>SITE CLIENTE & MERCADO</b>, como, por exemplo, no uso de COOKIES e/ou de outras tecnologias. Tal política visa à melhoria contínua dos serviços prestados pelo <b>SITE CLIENTE & MERCADO</b>.</p>

    <p>Caso exista alguma dúvida referente aos dados coletados pelo <b>SITE CLIENTE & MERCADO</b> consulte a nossa Política de Privacidade disponível em <b>http://www.clientemercado.com.br/politica-de-privacidade</b>.</p>

    <p>Caso o <b>USUÁRIO(S)</b> acesse o <b>SITE</b> de parceiros, patrocinadores, <b>ANUNCIANTE(S)</b> e demais <b>SITES</b> ou serviços que sejam acessados através do <b>SITE CLIENTE & MERCADO</b>, é possível que haja solicitação de informações financeiras e/ou pessoais do consumidor <b>USUÁRIO(S)</b>. Tais informações não serão enviadas pelo <b>USUÁRIO(S)</b> ao <b>SITE CLIENTE & MERCADO</b>, e sim diretamente ao solicitante, não tendo o <b>SITE CLIENTE & MERCADO</b>, portanto, qualquer responsabilidade pela utilização e manejo dessa informação.</p>

    <p>O <b>SITE CLIENTE & MERCADO</b> envidará seus melhores esforços para evitar o envio não solicitado de e-mails. Para tanto, resta estabelecido que seja absolutamente proibida à utilização do <b>SITE CLIENTE & MERCADO</b> para a distribuição de <b>SPAM</b> ou o envio indiscriminado de mensagens de qualquer natureza via correio eletrônico.</p> 

    <p>Fica a critério exclusivo do <b>SITE CLIENTE & MERCADO</b> suspender e/ou inabilitar definitivamente e aplicar as medidas jurídicas cabíveis aos <b>USUÁRIO(S)</b> que se utilizarem do <b>SITE CLIENTE & MERCADO</b> com a finalidade de promover seus produtos ou serviços à venda ou com qualquer outro fim, e que forem denunciados pelas pessoas que receberam essas mensagens <b>SPAM</b>.</p> 

    <p>Para a obtenção de informações sobre um anúncio, o <b>USUÁRIO(S)</b> do <b>SITE CLIENTE & MERCADO</b> não terá que desembolsar qualquer taxa para o(s) <b>ANUNCIANTE(S)</b>, a que título seja. Qualquer infração nesse sentido por parte do <b>ANUNCIANTE(S)</b> deve ser imediatamente notificada ao <b>SITE CLIENTE & MERCADO</b>.</p>

    <p>Os materiais do <b>SITE CLIENTE & MERCADO</b> poderão ser acessados, utilizados e impressos para o uso pessoal e não comercial do <b>USUÁRIO(S)</b>, logo, o <b>USUÁRIO(S)</b> não poderá copiar, modificar, criar trabalho derivado, transferir ou vender qualquer informação, "software", lista de <b>USUÁRIO(S)</b> e outras listas, produtos ou serviços obtidos no <b>SITE CLIENTE & MERCADO</b> para uso comercial.</p>

    <p>Além disso, o <b>USUÁRIO(S)</b> não poderá:</p>

    <p><b>A.</b> Transmitir ou enviar informações de qualquer natureza que possam incitar induzir, ou promover atitudes discriminatórias, mensagens violentas ou delituosas que atentem contra aos bons costumes, à moral ou ainda que contrariem a ordem pública;</p> 

    <p><b>B.</b> Cadastrar-se com informações de propriedade de terceiros ou falsas;</p> 

    <p><b>C.</b> Utilizar os produtos e/ou serviços disponíveis no <b>SITE CLIENTE & MERCADO</b> para fins diversos daqueles a que se destinam;</p>

    <p><b>D.</b> Alterar, apagar e/ou corromper dados e informações de terceiros;</p>

    <p><b>E.</b> Violar a privacidade de quaisquer <b>USUÁRIO(S)</b> e/ou <b>ANUNCIANTE(S)</b>;</p> 

    <p><b>F.</b> Violar propriedade intelectual do <b>SITE CLIENTE & MERCADO</b>, de terceiros em geral, ou seja, direito autoral, marca, patente, etc., através de reprodução de material, sem a prévia autorização do proprietário;</p> 

    <p><b>G.</b> Usar "nome de <b>USUÁRIO</b>" que guarde semelhança com o nome "<b>CLIENTE & MERCADO</b>";</p> 

    <p><b>H.</b> Transmitir ou enviar arquivos com vírus de computador, com <b>CONTEUDO</b> invasivo, destrutivo ou que cause dano temporário ou permanente nos equipamentos do destinatário e/ou do <b>SITE CLIENTE & MERCADO</b>;</p> 

    <p><b>I.</b> Utilizar nomes e/ou apelidos considerados ofensivos, bem como os que contenham dados pessoais de qualquer <b>USUÁRIO(S)</b> e/ou <b>ANUNCIANTE(S)</b>.</p>

    <p><b>J.</b> Transmitir ou enviar informações de propriedade de terceiros;</p> 

    <p><b>K.</b> Usar endereços de computadores, de rede ou de correio eletrônico falso;</p>

    <p><b>L.</b> Utilizar qualquer nome e/ou apelido que insinue ou sugira que os produtos ou serviços anunciados pertencem ao <b>SITE CLIENTE & MERCADO</b> ou que fazem parte de promoções suas;</p> 

    <p><b>M.</b> Utilizar materiais que contenham qualquer vírus, worms, malware e outros programas de computador que possa causar danos ao site ou ao <b>USUÁRIO(S)</b> ou <b>ANUNCIANTE(S)</b> do <b>SITE CLIENTE & MERCADO</b>; e,</p>

    <p><b>N.</b> Realizar a divulgação de materiais ilegais, agressivos, caluniosos, abusivos, difamatórios, discriminatórios, ameaçadores, danosos, invasivos da privacidade de terceiros, terroristas, vulgares, obscenos ou ainda condenáveis de qualquer tipo ou natureza que sejam prejudiciais a menores e à preservação do meio ambiente de algum modo.</p> 

    <p><b>O.</b> Anexar URLs, endereços de e-mail ou outro material publicitário ou de cunho de anúncio e/ou publicidade de terceiros sem prévia autorização do <b>SITE CLIENTE & MERCADO</b>.</p> 

    <p>O descumprimento às condições, termos e observações deste <b>TERMO DE USO</b> dá ao <b>SITE CLIENTE & MERCADO</b> o direito de cancelar, suspender, excluir e/ou desativar o cadastro ou o material enviado pelo <b>USUÁRIO(S)</b>, temporária ou definitivamente, ao seu único e exclusivo critério, sem prejuízo das cominações legais pertinentes e sem a necessidade de comunicar ao <b>USUÁRIO(S)</b> a ação tomada dentro do seu sistema.</p> 

    <p>Todos os materiais do <b>SITE CLIENTE & MERCADO</b>, incluindo, mas não se limitando a apresentação, "layout", marcas, logotipos, sistemas, produtos, denominações de serviços e quaisquer outros materiais, inclusive bases de dados, programas, arquivos, imagens, vídeos ou materiais de qualquer outra natureza e que tenham contratualmente autorizadas suas veiculações no <b>SITE CLIENTE & MERCADO</b> são protegidas pela legislação de Propriedade Intelectual.</p>

    <p>São de titularidade do <b>SITE CLIENTE & MERCADO</b> e de suas afiliadas, clientes ou fornecedores os direitos de uso e propriedade delimitando que sua reprodução, transmissão e distribuição de tais materiais, não são permitidas sem o expresso consentimento por escrito do <b>SITE CLIENTE & MERCADO</b> ou do respectivo titular, sobretudo para o fim econômico ou comercial.</p> 

    <p>Caracterizará como infração da legislação vigente, o uso indevido de materiais protegidos por propriedade intelectual (direito autoral, marcas comerciais, patentes etc.) apresentados no <b>SITE CLIENTE & MERCADO</b>, sujeitando-se o <b>USUÁRIO(S)</b> infrator às medidas judiciais cabíveis à espécie, sem prejuízo de eventual indenização por perdas e danos e honorários advocatícios ao <b>SITE CLIENTE & MERCADO</b>, bem como a terceiros que venham a sofrer pelo ato do <b>USUÁRIO(S)</b>.</p> 

    <p>Os riscos derivados da utilização do <b>SITE CLIENTE & MERCADO</b> são do <b>USUÁRIO(S)</b>, logo, se seu uso resultar na necessidade de serviços e/ou reposição de material, equipamento, propriedade ou informação do <b>USUÁRIO(S)</b> o <b>SITE CLIENTE & MERCADO</b> e suas afiliadas não serão responsáveis por tais custos.</p>

    <p>Os produtos, informações, valores, serviços sistemas e/ou "software", publicados no <b>SITE CLIENTE & MERCADO</b> podem conter imprecisões e/ou erros de grafia, razão pela qual o CLIENTE & MERCADO envidará seus melhores esforços para manter o SITE atualizado periodicamente.</p>

    <p>De nenhum modo o <b>CLIENTE & MERCADO</b> será responsabilizado por qualquer dano direto, indireto, especial, incidental ou de qualquer fato resultante do uso do<b>CLIENTE & MERCADO</b>, inclusive por quaisquer informações, produtos e/ou serviços obtidos através dele ou em decorrência do seu uso.</p> 

    <p>O ><b>CLIENTE & MERCADO</b> contém <b>LINKS</b> para outros <b>SITES</b> operados por terceiros que não o <b>CLIENTE & MERCADO</b> e/ou suas afiliadas. Esses LINKS são fornecidos somente para sua referência, razão pela qual, o CLIENTE & MERCADO não tem controle sobre esses outros <b>SITES</b> e não se responsabiliza pelo <b>CONTEUDO</b> dos mesmos, sendo que a inclusão desses LINKS no CLIENTE & MERCADO não implica na aprovação do material ou qualquer associação com seus proprietários. Assim, ao acessar e usar esses <b>SITES</b>, suas informações, materiais, produtos e/ou serviços, o <b>USUÁRIO(S)</b> estará fazendo por sua conta e risco.</p> 

    <p>O mesmo se aplica aos <b>SITES</b> que possuam <b>LINKS</b> para o <b>CLIENTE & MERCADO</b>, eis que o <b>CLIENTE & MERCADO</b> não possui controle sobre os mesmos.</p> 

    <p>A Política de Privacidade do <b>CLIENTE & MERCADO</b> é aplicável ao <b>USUÁRIO(S)</b>, quando este acessar o <b>SITE CLIENTE & MERCADO</b> e pode ser encontrada no seguinte <b>LINKS</b>: http://www.clientemercado.com.br/politica-de-privacidade</p>

    <p>Desse modo, ao ser encaminhado para outro <b>SITE</b>, o <b>USUÁRIO(S)</b> estará sujeito às políticas deste <b>SITE</b>, sobre o qual o <b>CLIENTE & MERCADO</b> não tem qualquer relação.</p> 

    <p>O <b>CLIENTE & MERCADO</b>, suas afiliadas e seus fornecedores poderão fazer mudanças nos serviços, produtos, informações e quaisquer outros materiais do <b>CLIENTE & MERCADO</b>, inclusive encerrar suas atividades a qualquer momento sem a necessidade de enviar qualquer notificação prévia ao <b>USUÁRIO(S)</b> e sem o direito de indenização a qualquer <b>USUÁRIO(S)</b> ou <b>ANUNCIANTE(S)</b>.</p>

    <p>O <b>CLIENTE & MERCADO</b> poderá alterar, modificar e/ou ajustar este <b>TERMO DE USO</b> a qualquer tempo, sendo que essas alterações, modificações e/ou ajustes terão efeito somente após se tornarem públicos. Desse modo, o <b>USUÁRIO(S)</b> obriga-se a rever o <b>TERMO DE USO</b> do <b>CLIENTE & MERCADO</b> de tempos em tempos, restando claro que o <b>USUÁRIO(S)</b> subordina-se à aceitação do <b>TERMO DE USO</b> vigente no momento de seu acesso ou faz uso dos serviços prestados pelo <b>CLIENTE & MERCADO</b>.</p> 

    <p>O <b>USUÁRIO(S)</b> e/ou <b>ANUNCIANTE(S)</b> indenizará o <b>CLIENTE & MERCADO</b>, suas filiais, empresas controladas, controladoras, colaboradores, representantes, administradores e empregados por qualquer ação promovida por outros <b>USUÁRIO(S)</b>, <b>ANUNCIANTE(S)</b> ou terceiros decorrentes de atividades ilegais no <b>CLIENTE & MERCADO</b> em razão do descumprimento do <b>TERMO DE USO</b> e/ou demais políticas do <b>CLIENTE & MERCADO</b>; ou ainda pela violação de qualquer lei, direito de terceiros, responsabilizando-se por eventuais perdas e danos, além de honorários advocatícios.</p> 

    <p>O <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b> detêm de todos os direitos de propriedade sobre a informação, texto, gráfico ou outros materiais que publicar no <b>CLIENTE & MERCADO</b>, no entanto, o <b>SITE</b> pode reproduzir publicar e distribuir todos os arquivos, textos, gráficos integral ou em partes do seu <b>CONTEUDO</b> "on-line" e "off-line".</p> 

    <p>O <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b> podem editar ou remover o <b>CONTEUDO</b> do CLIENTE & MERCADO a qualquer momento, todavia, se o CLIENTE & MERCADO tiver realizado a distribuição do <b>CONTEUDO</b> do <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b> para outros, não se compromete a fazer a alteração do que tiver distribuído.</p>

    <p>Este <b>TERMO DE USO</b> se aplica a todos os <b>ANUNCIANTE(S)</b> do <b>CLIENTE & MERCADO</b>, inclusive os <b>USUÁRIO(S)</b> que também contribuem com <b>CONTEUDO</b> do <b>CLIENTE & MERCADO</b>.</p> 

    <p>Ao contribuir/submeter qualquer <b>CONTEUDO</b> no <b>SITE CLIENTE & MERCADO</b>, o(s) <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b>, garantem que possuem as licenças necessárias, direitos, autorizações e permissões para publicar o <b>CONTEUDO</b> enviado ao <b>CLIENTE & MERCADO</b>. O <b>USUÁRIO(S)</b>) e <b>ANUNCIANTE(S)</b> concedem ao <b>CLIENTE & MERCADO</b> uma licença mundial, perpétua, irrevogável, livre de royalties, transferível, bem como e inclusive o direito de licença para usar, copiar, modificar, apagar na sua totalidade, adaptar, publicar, traduzir, criar trabalhos derivados, vender, distribuir materiais e/ou incorporar esses materiais em qualquer formato, meio ou tecnologia sem qualquer prejuízo ao <b>USUÁRIO(S)</b> e o(s) <b>ANUNCIANTE(S)</b>.</p> 

    <p>Desta forma, nenhum dos materiais deve ser sujeito/submetido a qualquer obrigação de confiança por parte do <b>CLIENTE & MERCADO</b>, seus funcionários, agentes, colaboradores e representantes sem os direitos ou licenças disponíveis para isso.</p> 

    <p>O <b>SITE CLIENTE & MERCADO</b> reserva-se ao direito de alterar, condensar ou excluir qualquer <b>CONTEUDO</b> do <b>SITE CLIENTE & MERCADO</b> que considere, a seu exclusivo critério, violar as diretrizes de <b>CONTEUDO</b>, a legislação brasileira ou de qualquer outra disposição do presente <b>TERMO DE USO</b>.</p>

    <p>O <b>USUÁRIO(S)</b> pode enviar vídeos e comentários, todavia, o <b>CLIENTE & MERCADO</b> não garante a confidencialidade em relação a qualquer <b>CONTEUDO</b> enviado, sendo importante mencionar que o <b>USUÁRIO(S)</b> é o único responsável por seu <b>CONTEUDO</b> e pelas conseqüências de enviá-lo ou publicá-lo, garantindo que possui ou tem as licenças necessárias, direitos, autorizações e permissões para publicá-lo.</p> 

    <p>O <b>USUÁRIO(S)</b> autoriza o <b>CLIENTE & MERCADO</b> a usar todas as patentes, marcas registradas, segredos de negócio, direitos autorais ou outros direitos de propriedade e tais <b>CONTEÚDOS</b> para a publicação de acordo com este <b>TERMO DE USO</b>. Assim, cumpre esclarecer que o <b>USUÁRIO(S)</b> mantém todos os direitos de propriedade sobre seu <b>CONTEUDO</b>, entretanto, ao enviar o <b>CONTEUDO</b> ao <b>CLIENTE & MERCADO</b>, o <b>USUÁRIO(S)</b> pelo presente, cede ao <b>CLIENTE & MERCADO</b> licença mundial, não exclusiva, isenta de royalties, passível de ser sublicenciada e transferida, para usar, reproduzir, distribuir, preparar trabalhos derivados, exibir e executar o <b>CONTEUDO</b> em conexão com o <b>CLIENTE & MERCADO</b> (e de seus sucessores e afiliados), inclusive, mas sem se limitar a atividades de promoção e redistribuição parcial ou total do Serviço (e trabalhos derivados) em qualquer formato de mídia e através de qualquer canal de mídia.</p> 

    <p>O <b>USUÁRIO(S)</b> também cede a todos os <b>USUÁRIO(S)</b> do <b>CLIENTE & MERCADO</b> uma licença não-exclusiva para acessar o seu <b>CONTEUDO</b> por meio do <b>CLIENTE & MERCADO</b> (e de seus sucessores e afiliados), e para usar, reproduzir, distribuir, exibir e executar tal <b>CONTEUDO</b> conforme permitido pela funcionalidade do <b>SITE CLIENTE & MERCADO</b> e de acordo com o <b>TERMO DE USO</b>. As licenças acima cedidas pelo <b>USUÁRIO(S)</b> para o <b>SITE CLIENTE & MERCADO</b>, irão encerrar dentro de um tempo comercialmente razoável após a remoção ou exclusão pelo <b>USUÁRIO(S)</b>. As licenças acima, cedidas pelo <b>USUÁRIO(S)</b> em relação aos comentários são permanentes e irrevogáveis.</p> 

    <p>O <b>USUÁRIO(S)</b> afirma que não enviará material protegido por direitos autorais, por segredo de negócio ou de qualquer outra forma protegido por direitos de terceiros, a menos que tenha permissão do legítimo proprietário do material ou caso esteja legalmente autorizado a publicar o material e ceder ao <b>SITE</b> do <b>CLIENTE & MERCADO</b> todos os direitos de licença aqui concedidos.</p> 

    <p>O <b>CLIENTE & MERCADO</b> não endossa qualquer <b>CONTEUDO</b> enviado por qualquer <b>USUÁRIO(S)</b> ou licenciante ou qualquer opinião, recomendação ou conselho ali expresso. O <b>CLIENTE & MERCADO</b> renuncia expressamente toda e qualquer responsabilidade ligada ao <b>CONTEUDO</b>.</p> 

    <p>O <b>CLIENTE & MERCADO</b> não permite atividades que violem os direitos autorais, nem os direitos de propriedade intelectual em seu <b>SITE</b>, assim, o <b>SITE</b> do <b>CLIENTE & MERCADO</b> removerá todo o <b>CONTEUDO</b> quando devidamente notificado de que tal <b>CONTEUDO</b> infringe o direito de propriedade intelectual de qualquer outra pessoa. O <b>SITE CLIENTE & MERCADO</b> se reserva no direito de remover o <b>CONTEUDO</b> sem prévio aviso.</p> 

    <p>Quaisquer avisos ou comunicações, que uma das partes tenha de fazer a outra parte, em relação a quaisquer direitos ou obrigações contidas no presente instrumento, deverão adotar a forma escrita e serão tidas como eficazmente entregues no endereço constante do preâmbulo deste termo, se:</p> 

    <p><b>A.</b> Entregues em mãos mediante protocolo escrito por quem de direito possa representar a parte remetida;</p>

    <p><b>B.</b> Enviadas por serviço de "courier" mediante protocolo escrito ou se pelo correio, na forma de carta registrada ("AR"); ou</p> 

    <p><b>C.</b> Enviadas por e-mail, ou outro meio eletrônico hábil para tais comunicações.</p> 

    <p>As partes convencionam o recebimento de mensagens e arquivos eletrônicos como prova documental para todos os efeitos, desde que com aviso de confirmação de recebimento ou outro tipo de protocolo que certifique o recebimento da comunicação.</p> 

    <p>Fica eleito o foro da Comarca de Vitória, Estado do Espírito Santo, como competente para dirimir quaisquer controvérsias decorrentes deste <b>TERMO DE USO</b> independentemente de qualquer outro, por mais privilegiado que seja ou venha a ser.</p> 

</div>