@using ClienteMercado.Models
@model ClienteMercado.Models.Cadastro

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout-Others-Home.cshtml";
}

<div id="label_cadastre_aqui_etapa2"><h2>Cadastre-se aqui 2</h2></div>
<br/>

<div id="container_cadastros_etapa2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div id="campos_para_cadastro_etapa2" class="campos_cadastro_etapa2">
            

        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @* Posiciona o cursor  no primeiro campo*@
    <script type="text/javascript">
        $(function() {
            $("input[type=text]").first().focus();
        });
    </script>
}
