@model ClienteMercado.UI.Core.ViewModel.DadosEmpresaEUsuarioViewModel

@{
    ViewBag.Title = "Nova Central Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova Central de Compras</h2>
